# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.pas text eol=lf
*.dfm text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.java text eol=lf
*.cs text eol=lf
*.dpk -text eol=lf
*.dproj -text eol=lf
*.groupproj -text eol=lf

# Declare files that will always have CRLF line endings on checkout.

# Denote all files that are truly binary and should not be modified.
*.exe binary
*.res binary
